@import '@unocss/reset/tailwind-compat.css';
html.dark{
  background: #000;
}
* {
  outline: none;
  box-sizing: border-box;
}
/* 暗黑模式切换动画 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}
::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
.gradient-text {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: transparent;
  background: linear-gradient(120deg,#c347fc,#3a7cfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: linear-gradient(120deg,linear-gradient(120deg,#ca57ff,#3a7cfe));
}
